<h1>Admin Portal</h1>

<h2 class="admin_heading">Users</h2>
<button class="admin_button" type="button" onclick="location.href='/users'">View all users</button>

<h2 class="admin_heading">Stores</h2>
<button class="admin_button" type="button" onclick="location.href='/stores/new'">Add a new store</button>

<h2 class="admin_heading">Items</h2>
<button class="admin_button" type="button" onclick="location.href='/items/new'">Add a new item</button>

<h2 class="admin_heading">Logout</h2>
<button class="admin_button" type="button" onclick="location.href='/logout'">Logout</button>