<h1>Admin Portal</h1>

<div class="admin">
    <div class="admin_section">
        <h2 class="admin_heading">Users</h2>
        <a href="/users" class="btn_admin">VIEW ALL USERS</a>
    </div>

    <div class="admin_section">
        <h2 class="admin_heading">Stores</h2>
        <a href="/stores/new" class="btn_admin">ADD A NEW STORE</a>
    </div>

    <div class="admin_section">
        <h2 class="admin_heading">Items</h2>
        <a href="/items/new" class="btn_admin">ADD A NEW ITEM</a>
    </div>

    <div class="admin_section">
        <h2 class="admin_heading">Logout</h2>
        <a href="/logout" class="btn_admin">LOGOUT</a>
    </div>
</div>