<h1>Da Hoooooome Paaaaage</h1>

<header>
    <div class="header_box" id="browsing_links">
        <div class="header_link">COLLECTION</div>
        <div class="header_link">STORES</div>
        <div class="header_link">MEN</div>
        <div class="header_link">WOMEN</div>
    </div>

    <div class="header_box" id="header_logo">
        <%=image_tag("logos/daintree_logo_landscape_white.png") %>
    </div>

    <div class="header_box" id="user_links">
        <div id="user_links_spacer"></div>
        <div id="user_links_image_signin">
            <%=image_tag("icons/user_signin_white.png") %>
        </div>
        <div id="user_links_image_cart">
            <%=image_tag("icons/shopping_cart_white.png") %>
        </div>
    </div>

</header>

