/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* FOR ENTIRE DOC */
body {
    box-sizing: border-box;
    margin: 0px;
    /* background-image: image_url('CandH02.jpeg'); */
    /* background-size: cover; */
}

h1 { text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 100px;
}

/* HEADER */

.header_link {
    color: white;
    text-decoration: none;
}
/* dividing the header into 3 diff sections */
header {
    display: flex;
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
}

.header_box {
    border: 1px #ccc solid;
}

#header_logo {
    flex: 2;
    text-align: center;
}

/* to further sub-divide first flex items */
.header_box:nth-of-type(1) {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* to further sub-divide third flex items */
.header_box:nth-of-type(3) {
    flex: 1;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
}

#user_links_spacer {
    flex: 4;
    text-align: right;
}
#user_links_image_signin {
    flex: 1;
    text-align: right;
}

#user_links_image_cart {
    flex: 1;
    text-align: right;
}

/* images and heights */

#header_logo img {
    height: 50px;
}

#user_links_image_signin img {
    height: 40px;
}

#user_links_image_cart img {
    height: 40px;
}

/* SPACER */

.section_spacer {
    height: 100px;
}

/* SECTION - MEN AND WOMEN */

#men_and_women {
    display: flex;
    justify-content: center;
    position: relative;
}

.mw_image img {
    width: 60%;
}

#mw_image_w {
    padding-right: 20px;
    text-align: right;
}

#mw_image_m {
    padding-left: 20px;
    text-align: left;
}

/* button */

.btn_homepage_mw {
    background-color: #191919; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.btn_homepage_mw:hover {
    background-color: #464646;
}

#btn_homepage_w {
    position: absolute;
    top: 75%;
    left: 25%;
}

#btn_homepage_m {
    position: absolute;
    top: 75%;
    right: 25%;
}

/* SECTION - STORES */

.store_logo_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#featured_stores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#featured_stores img {
    width: 200px;
}

/* FOOTER */

footer {
    display: flex;
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
    justify-content: space-around;
    align-items: center;

}

.footer_icon {
    border: 1px #ccc solid;
}
 
.footer_icon_image {
    text-align: center;
}

.footer_icon_image img {
    height: 80px;
}



/* ITEMS PAGE */

.filter_and_items {
    display: flex;
}

.all_items {
    display: inline-block;
    margin-left: 0%;
    margin-right: 5%;
    flex: 5;
}

.item {
    width: 300px;
    float: left;
    padding: 0px 50px 75px 50px;
}

.item_image_and_logo {
    position: relative;
    border: 5px solid black;
}

.item_image {
    width: 300px;
}

.item_image_logo {
    width: 50px;
    position: absolute;
    left: 0%;
    top: 0%;
}

.item_title {
    text-align: center;
}

.item_price {
    text-align: center;
}

/* cart buttons */
.add_to_cart {
    text-decoration: none;
    background-color: #e8e8e8; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.remove_from_cart {
    text-decoration: none;
    background-color: black; 
    border: none;
    color: #e8e8e8;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.5s;
}

/* filter form */
.filter_form {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10%;
    flex: 1; 
    position: -webkit-sticky;
    /* position: sticky; */
    /* border: 2px solid black; */
    /* background: #e8e8e8; */
}

.filter_form h3 {
    margin-top: 0px;
}

.filter_form .filter_store {
    /* color: red; */
    margin-bottom: 0px;
}

.filter_form .filter_submit {
    margin-top: 25px;
}

/* CART PAGE */

.cart {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.total {
    flex: 1;
}

.cart_items {
    flex: 2;
    /* margin-left: 10%; */
}

.cart_item {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cart_image_and_logo {
    flex: 0 0 225px;
    position: relative;
}

.cart_details {
    flex: 2;
    margin-left: 5%;
}

.cart_item_image {
    width: 200px;
}

.cart_item_image_logo {
    width: 50px;
    position: absolute;
    right: 0%;
    top: 0%;
}

.item_title {
    text-align: left;
}

.item_price {
    text-align: left;
}

.total_components {
    background-color: #e8e8e8;
    border-radius: 10px;
    padding-bottom: 5%;
    /* padding: 5% 5% 5% 5%; */
    /* padding-right: 20%; */
}

.total_heading {
    text-align: center;
    padding-top: 5%;
}

.total_item_label {
    padding-left: 5%;
}

.total_item_price {
    float: right;
    padding-right: 5%;
}

.grand_total_text {
    padding-left: 5%;
}

.grand_total_price {
    float: right;
    padding-right: 5%;
}

.line_break {
    border:none;
    border-top:1px dotted #f00;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:50%;
}

/* LOGIN FORM  */

.login_options {
    display: flex;
    margin: 0% 10% 10% 10%;
}

.login_username {
    text-align: center;
    flex: 1;
}

.login_omniauth {
    text-align: center;
    flex: 1;
}

.omniauth_link {
    text-align: center;
    margin-top: 10px;;
}

.omniauth_link img{
    width: 200px;

}

.new_user_login_page {
    margin-top: 5%;
    margin-bottom: 10%;
}

/* NEW USER FORM */

.new_user_form {
    margin-left: 35%;
}