/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* FOR ENTIRE DOC */
body {
    box-sizing: border-box;
    margin: 0px;
}

h2 {
    text-align: center;
    margin-bottom: 100px;
}

/* HEADER */

/* dividing the header into 3 diff sections */
header {
    display: flex;
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
}

.header_box {
    border: 1px #ccc solid;
}

#header_logo {
    flex: 2;
    text-align: center;
}

/* to further sub-divide first flex items */
.header_box:nth-of-type(1) {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* to further sub-divide third flex items */
.header_box:nth-of-type(3) {
    flex: 1;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
}

#user_links_spacer {
    flex: 4;
    text-align: right;
}
#user_links_image_signin {
    flex: 1;
    text-align: right;
}

#user_links_image_cart {
    flex: 1;
    text-align: right;
}

/* images and heights */

#header_logo img {
    height: 50px;
}

#user_links_image_signin img {
    height: 40px;
}

#user_links_image_cart img {
    height: 40px;
}

/* SPACER */

.section_spacer {
    height: 100px;
}

/* SECTION - MEN AND WOMEN */

#men_and_women {
    display: flex;
    justify-content: center;
    position: relative;
}

.mw_image img {
    width: 60%;
}

#mw_image_w {
    padding-right: 20px;
    text-align: right;
}

#mw_image_m {
    padding-left: 20px;
    text-align: left;
}

/* button */

.btn_homepage_mw {
    background-color: #191919; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.btn_homepage_mw:hover {
    background-color: #464646;
}

#btn_homepage_w {
    position: absolute;
    top: 75%;
    left: 25%;
}

#btn_homepage_m {
    position: absolute;
    top: 75%;
    right: 25%;
}

/* SECTION - STORES */

#featured_stores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#featured_stores img {
    width: 200px;
}

/* FOOTER */

footer {
    display: flex;
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
    justify-content: space-around;
    align-items: center;

}

.footer_icon {
    border: 1px #ccc solid;
}
 
.footer_icon_image {
    text-align: center;
}

.footer_icon_image img {
    height: 80px;
}



