

/* HEADER */

.header_link {
    color: white;
    text-decoration: none;
}
/* dividing the header into 3 diff sections */
header {
    display: flex;
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
}

.header_box {
    /* border: 1px #ccc solid; */
}

#header_logo {
    flex: 2;
    text-align: center;
}

/* to further sub-divide first flex items */
.header_box:nth-of-type(1) {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* to further sub-divide third flex items */
.header_box:nth-of-type(3) {
    flex: 1;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
}

#user_links_spacer {
    flex: 4;
    text-align: right;
}
#user_links_image_signin {
    flex: 1;
    text-align: right;
}

#user_links_image_cart {
    flex: 1;
    text-align: right;
}

/* images and heights */

#header_logo img {
    height: 50px;
}

#user_links_image_signin img {
    height: 40px;
}

#user_links_image_cart img {
    height: 40px;
}


/* FOOTER */

footer {
    display: flex;
    background-color: #191919;
    color: white;
    padding: 10px 20px 10px 20px;
    justify-content: space-around;
    align-items: center;
}

.footer_icon {
    /* border: 1px #ccc solid; */
}
 
.footer_icon_image {
    text-align: center;
}

.footer_icon_image img {
    height: 80px;
}